<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cars.simple"
    android:versionCode="4"
    android:versionName="1.0.3" >

    <uses-sdk android:minSdkVersion="4" />

    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUT_FILESYSTEMS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:icon="@drawable/icon"
        android:label="@string/app_name" >

        <!-- 欢迎界面 -->
        <activity
            android:label="@string/app_name"
            android:name=".activity.WelcomeActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面 -->
        <activity
            android:label="@string/app_name"
            android:name=".activity.HomeAcitivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 设置界面 -->
        <activity
            android:name=".activity.SettingAcitivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 登录界面 -->
        <activity
            android:name=".activity.LoginActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 注册界面 -->
        <activity
            android:name=".activity.RegisterActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 重置密码界面 -->
        <activity
            android:name=".activity.ResetPswActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 修改密码界面 -->
        <activity
            android:name=".activity.ChangePwdActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 意见反馈界面 -->
        <activity
            android:name=".activity.FeedBackActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 我的车辆界面 -->
        <activity
            android:name=".activity.CarMessageActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 更新界面 -->
        <activity
            android:name=".activity.UpdateActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 消息TAB界面 -->
        <activity
            android:name=".activity.MessageTabActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 信息阅读界面 -->
        <activity
            android:name=".activity.MessageReadActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 详细信息界面 -->
        <activity
            android:name=".activity.MessageDetailActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 违章查询页面 -->
        <activity
            android:name=".activity.ViolationActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 违章查询详细页面 -->
        <activity
            android:name=".activity.ViolationDetailActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 车辆信息页面 -->
        <activity
            android:name=".activity.CarInfoActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 车辆详细信息页面 -->
        <activity
            android:name=".activity.CarInfoDetailActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 车辆信息更新页面 -->
        <activity
            android:name=".activity.CarInfoUpdateActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 杂志TAB页面 -->
        <activity
            android:name=".activity.MagazineTabActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 杂志列表页面 -->
        <activity
            android:name=".activity.MagazineActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 优惠类别页面 -->
        <activity
            android:name=".activity.PromotionActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 优惠列表页面 -->
        <activity
            android:name=".activity.PromotionListActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 记账TAB界面 -->
        <activity
            android:name=".activity.AccountTabActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 记流水账界面 -->
        <activity
            android:name=".activity.AccountWaterActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 费用统计界面 -->
        <activity
            android:name=".activity.AccountTotalActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 油耗统计界面 -->
        <activity
            android:name=".activity.OilActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 花费记录界面 -->
        <activity
            android:name=".activity.AccountRecordActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 添加话费选择界面 -->
        <activity
            android:name=".activity.AccountChooseCarActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- webview 界面 -->
        <activity
            android:name=".activity.WebViewActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 明细界面 -->
        <activity
            android:name=".activity.AccountDetailActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 商家点评界面 -->
        <activity
            android:name=".activity.DiscussActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 保养界面 -->
        <activity
            android:name=".activity.MaintenanceActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 保养详情界面 -->
        <activity
            android:name=".activity.MaintenanceDetailActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 特约商户界面 -->
        <activity
            android:name=".activity.MaintenanceSpeDetailActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 商户详细界面 -->
        <activity
            android:name=".activity.MaintenanceShopDetailActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 商户详细界面 -->
        <activity
            android:name=".activity.HelpActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 活动界面 -->
        <activity
            android:name=".activity.MemberActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <!-- 关于我们 -->
        <activity
            android:name=".activity.AboutActivity"
            android:screenOrientation="portrait" >
            <intent-filter >
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>

</manifest>